* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

::selection {
  background-color: black;
  color: white;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}

a {
  margin: 2em 0 0;
  border-top: 2px solid rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  text-transform: uppercase;
  font-weight: 600;
  padding: 1em 1em;
  transition: all 0.5s ease;
  animation: aparecer1 2s ease 1 backwards;
}

a:hover {
  background: rgb(150, 0, 130);
  color: white;
  transform: scale(1.1);
  transition: 0.5s;
}
img,
figure {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

html {
  scroll-behavior: smooth;
}

video {
  max-width: 100%;
  width: 100%;
  display: flex;
  object-fit: cover;
  object-position: center center;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}

form,
button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  display: flex;
  color: inherit;
}

body {
  font-family: var(--tipo-principal);
  font-size: 100%;
  min-height: 100vh;

  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(
    45deg,
    rgba(156, 40, 40, 0.7),
    rgba(24, 31, 67, 0.7),
    rgba(126, 37, 111, 0.7),
    rgba(72, 21, 81, 0.7)
  );

  background-size: 300% 300%;
  animation: color 4s ease-in-out infinite;
}

main{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    overflow-x: hidden ;
 
}

@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.header {
  width: 100%;
  min-width: 5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  font-size: 1.2em;
}

.header .ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.header .li {
  margin: 0 2em;
  list-style: none;
}
.header .li .a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  border: none;
  font-size: 1rem;
}
.header .li .a:hover {
  background-color: transparent;
}

.section {
  width: 100%;
  min-height: 80vh;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  
}

.section .ul {
  /*para hacer que un elemento quede al lado de otro */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.section .ul .li {
  margin: 0 1em;
}

.info {
  font-size: 1.3em;
  margin-left:3rem ;
  animation: aparecer1 2s ease 1 both;
}

.section .h2 {
  font-family: var(--tipo-titular);
  font-size: 5em;
  font-weight: 800;
}
.section .h3 {
  font-family: var(--tipo-titular);
  font-size: 2em;
  font-style: italic;
}
.section .p {
  max-width: 40em;
  text-align: left;
  margin: 0 0 1em;
  font-size: 1.2em;
}
.grid {
  width: 90%;
  margin: 1em, 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 2rem;
}

.article {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 1em;
}

.grid article:nth-child(3):hover {
  cursor: url("./assets/pizza.png"), auto;
}

.grid article:nth-child(2):hover {
  cursor: url("./assets/servicio-al-cliente.png"), auto;
}

.grid article:nth-child(1):hover {
  cursor: url("./assets/metodo-de-pago.png"), auto;
}

.article p {
  font-size: 1.1em;
  margin: 0.2em 0;
}
.article h4 {
  font-size: 1.2em;
  font-weight: 800;
}



article ul {
  display: flex;
  flex-direction: column;

  margin: 1em 0;
}

<<<<<<< HEAD
.projects{
  margin-left: 3rem;
}
=======

>>>>>>> f7d86e78f85153f389510fcffea21e7f868d1f88

.projects .p {
  font-size: 1.3em;
  text-align: center;
  margin: 1em 0;
}

<<<<<<< HEAD
.about {
  margin-left: 3rem;
}
=======
>>>>>>> f7d86e78f85153f389510fcffea21e7f868d1f88

.about .p {
  max-width: 40em;
  text-align: center;
  margin-bottom: 1.5em;
  font-size: 1.3em;
}

.about .rrss {
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.rrss button {
  margin: 0 1em;
  padding: 1em;
  border: none;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  cursor: pointer;
  font-size: 1.5em;
  transition: all 0.5s ease;
}
.about .li {
  margin: 0 1em;
}

.about .svg {
  width: 3em;
  height: 3em;
}

svg:hover {
  cursor: pointer;
}

.footer {
  padding: 2em 0;
  text-align: center;
  position: relative;
}

@keyframes aparecer1 {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.slider- {
  height: 80%;
  margin: auto;
  position: relative;
  width: 100vw;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.my-projects {
  width: 95%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top :30rem;
  margin-bottom: 5rem;

}


.my-projects h2{
  font-size: 3rem;
  display: inline;
  font-family: var(--tipo-titular);
  font-weight: 800;
  text-align: center;
  color: white;
  padding: 0 1rem;
margin-bottom: 2rem;
}

.slider-track {
  display: flex;
  width: calc(250px * 16);
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 8));
  }
}

.slide {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
  text-align: center;
  border-bottom: 3px solid #000;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.slide:hover {
  cursor: pointer;
  /*  transform: translateZ(20px); */
}

.slider-::before,
.slider-::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    0%,
    rgba(255, 255, 255, 0),
    100%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider-::before {
  left: 0;
  top: 0;
}

.slider-::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.carrousel-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carrousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
}
.enlace{
  text-decoration: none;
color:inherit;
}
.enlace:hover{
  text-decoration: none;
  color:inherit;
  background:none;
}
.carrousel-section h2 {
  font-size: 3rem;
  display: inline;
  font-family: var(--tipo-titular);
  font-weight: 800;
  text-align: center;

  color: white;

  padding: 0 1rem;
}


.carrousel-section .p {
  font-size: 1.5rem;
  font-family: var(--tipo-principal);
  font-style: italic;
  text-align: center;
  color: white;
  padding: 0 1rem;
  margin: 0 0 4rem 2rem;
}

.content-all {
  width: 400px;
  margin: auto;
  perspective: 800px;
  position: relative;
}

.content-carrousel {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  perspective: 100000px;
  animation: rotar 20s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.content-carrousel div {
  width: 250px;
  border-radius: 2px;
  object-fit: cover;
  height: 200px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 20px 0px black;
  transition: all 300ms;
}

.content-carrousel div:hover {
  box-shadow: 0px 0px 0px 0px black;
  transform: scale(1.2);
  transition: all 300ms;
}
.content-carrousel p {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;

  backdrop-filter: blur(1rem);
  color: white;
  font-size: 1rem;
  font-family: var(--tipo-titular);
  font-style: italic;
  transform: translateZ(1.2);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s ease;
}
.content-carrousel div:hover p {
  opacity: 1;
  transform: translateZ(1);
}

.content-carrousel div:nth-child(1) {
  background-image: url(./assets/deep-learning.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  transform: rotateY(60deg) translateZ(350px);
}
.content-carrousel div:nth-child(2) {
  background: url(./assets/coming-soon-2070393_640.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(120deg) translateZ(300px);
}
.content-carrousel div:nth-child(3) {
  background: url(./assets/machine-learning.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(180deg) translateZ(300px);
}
.content-carrousel div:nth-child(4) {
  background: url(./assets/matlab-fundamentals.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(240deg) translateZ(300px);
}
.content-carrousel div:nth-child(5) {
  background: url(./assets/deep-learning.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(300deg) translateZ(300px);
}
.content-carrousel div:nth-child(6) {
  background: url(./assets/coming-soon-2070393_640.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(360deg) translateZ(300px);
}

.content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.section-wrapper {
  width: 100%;
  padding: 10px;
  margin-left: 1.5rem;
}
.box-wrapper {
  position: relative;
  display: table;
  width: 1100px;
  margin: auto;
  margin-top: 35px;
  border-radius: 30px;
}
.info-wrap {
  width: 35%;
  height: 450px;
  padding: 40px;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px 0px 0px 30px;
  background: transparent;
  color: #ffffff;
}
.info-title {
  text-align: left;
  font-size: 4rem;
  text-align: center;
  letter-spacing: 0.5px;
}
.info-sub-title {
  font-size: 18px;
  font-weight: 300;
  margin-top: 17px;
  letter-spacing: 0.5px;
  line-height: 26px;
  text-align: center;
}

.form-wrap {
  width: 65%;
  float: right;
  padding: 40px 25px 35px 25px;
  border-radius: 0px 30px 30px 0px;
  background: linear-gradient(
    45deg,
    rgba(163, 67, 149, 0.7),
    rgba(126, 37, 111, 0.7),
    rgba(72, 21, 81, 0.7)
  );

}

.form-fields {
  display: table;
  width: 100%;
  padding: 15px 5px 5px 5px;
}
.form-fields input,
.form-fields textarea {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #ffffff;
  padding: 20px 10px 20px 5px;
  width: 100%;
}

.form-fields input::placeholder,
.form-fields textarea::placeholder {
  color: #ffffff;
  font-size: 18px;
}
.form-fields textarea {
  height: 150px;
  resize: none;
}
.form-group {
  width: 46%;
  float: left;

  padding: 0px 30px;
  margin: 14px 12px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.form-fields .form-group:nth-child(3) {
  width: 96%;
}
.form-fields .form-group:nth-child(4) {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  background-color: purple;
  color: #fff;
}

.form-fields .form-group:nth-child(4):hover {
  background-color: rgb(188, 18, 166);
  transform: scale(0.9);
  transition: all 0.5s;
}

.submit-button {
  margin: auto;
  width: 30%;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
}

/* Responsive css */
@media only screen and (max-width: 767px) {

  .grid{
    display: flex;
    flex-direction: column;
  }
 

  .content-carrousel{
    perspective: none;
  }
  .my-projects {
    margin-left: 1rem;
    width: 100vw;
  }
  main{
    overflow-x:visible;
  }
  .box-wrapper {
    width: 100%;
  }
  .info-wrap,
  .form-wrap {
    width: 100%;
    height: inherit;
    float: none;
  }
  .info-wrap {
    border-radius: 30px 30px 0px 0px;
  }
  .form-wrap {
    border-radius: 0px 0px 30px 30px;
  }
  .form-group {
    width: 100%;
    float: none;
    margin: 25px 0px;
  }
  .form-fields .form-group:last-child,
  .submit-button {
    width: 100%;
  }
  .submit-button {
    margin: 10px 0px;
  }
}
